

body{
    background-color: var(--window-text);
    color: var(--window-title-text);
}

.desktop-bg{
    background: url(https://pudim.com.br/pudim.jpg);
}

.starting{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--gb-color1);
    font-size: 24px;
    font-family: monospace;
}

.blink {
    animation: blink 0.5s steps(2, start) infinite;
}


.content {
    background-color: var(--gb-color1);
    color: var(--window-text);
    height: calc(100% - 17px);
    max-height: inherit;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    scrollbar-width: auto;
    scrollbar-color: var(--gb-color3) var(--gb-color2);
}

section {
    display: flex;
    flex-direction: row;
}

section#stickbutton {
    display: flex;
    flex-direction: column;
}

section#stickbutton ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-items: center;
}

#stickbutton div {
    display: flex;
    flex-direction: column !important;
    border: var(--gb-color3) 2px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    max-width: 140px;
}

#stickbutton img {
    width: auto;
    height: auto;
}

.content img {
    width: 100%;
    max-width: 720px;
}

.content a {
    color: var(--gb-color3);
    text-decoration: none;
    cursor: pointer;
}


.content a:hover {
    color: var(--gb-color3);
    text-decoration: underline wavy;
}

.content {
    width: 100%;
    padding: 25px;
}

.content .responsive-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
}

.content .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}




.delay-1{
    animation: normal 1s delay step-end;
}

.delay-2 {
    animation: normal 2s delay step-end;
}

.delay-3 {
    animation: normal 2.5s delay step-end;
}

.delay-4 {
    animation: normal 4s delay step-end;
}


@keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes delay {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width: 800px) {
    .content{
        margin-top: 32px;
    }
}